<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendote</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
    <!-- Call the compute function from main.js when the page loads -->
    <script>
        compute();
    </script>
    <h1>This is a test</h1>

</body>
</html>